// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #475467;
$light-gray: #EAECF0;
$grey-blue: #344054;
$green: #044827;
$white: #FFF;
$off-white: #FCFCFD;
$dark-green: #05311F;
$light-green : #E3EDE9;
$bland-green: #1D3228;
$red: #FECDCA;
$notice: #FFC65A;
$success: #1EDD88;
